ul,
li,
form {
  display: inline-block;
}

li {
    margin: 1rem;
}

.App-logo {
  height: 80px;
  margin: 0.5rem;
}

.App-header {
  background-color: white;
  height: 100px;
  padding: 1.5rem;
}

.App-title {
  font-size: 1.5rem;
}
